/*defining the basic styling elements*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--clr-Black: #2b2b2b;
--clr-Creamy-Peach: #FAA99D;
--clr-Milky-Yellow: #FDDF7E;
--clr-white: #ffffff;
--clr-grey: #f0f0f8;
}

html {
    font-size: 16px;
    font-family: "karla", sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--clr-black);
}

h2 {
    font-size: 2em;
    color: var(--clr-black);
}

p {
    font-size: 1.5em;
    color: var(--clr-black)
}

.highlight_pink {
    background: linear-gradient(120deg, #F6A5EB 0%, #F6A5EB 100%);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 0 60%;
  }

  .highlight_mint {
    background: linear-gradient(120deg, #9BFBE1 0%, #9BFBE1 100%);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 0 60%;
  }

/* Setting up the page structure & design */

body {
    background-color: var(--clr-grey);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.sheet {
    background-color: var(--clr-white);
    border-radius: 1em;
    width: 70%;
    height: 90%;
    margin: 5%;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    height: 95vh;
    min-height: 325px; 
    max-height:570px; 
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 1em;
}

.item {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    flex-grow: 4;
    align-items: center;
}

#list {
    width: 100%;
}

.list-alignment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    align-items: center;
}

/*styling the to do list*/

.add-item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 5em;
    align-items: center;
    padding: 0.5em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#item {
    flex-grow: 4;
    margin-left: 0.5em;
    height: 2em;
    padding-left: 0.5em;
    font-size: 20px;
    font-family: "karla", sans-serif;
    border: 1px dashed #6b6b6b;
    border-radius: 2px;
}

#item:focus {
    outline: none;
}


/*styling the font awesome elements */

.fa-refresh {
    color: var(--clr-Black)
}


.linetrough {
    text-decoration: line-through;
    color : #ccc;
}